<h1>{{twiddleName}}</h1>

<p>I'm afraid I just blue myself. No… but I'd like to be asked! I don't criticize you! And if you're worried about
  criticism, sometimes a diet is the best defense. Marry me. He'll want to use your yacht, and I don't want this thing
  smelling like fish.
</p>
<p>Marry me. There's so many poorly chosen words in that sentence. Bad news.
  <strong> Andy Griffith turned us down.</strong>
  <em> He didn't like his trailer.</em> Say goodbye to these, because it's the last time!
</p>

<h2>Steve Holt!</h2>
<p>Did you enjoy your meal, Mom? You drank it fast enough. Really? Did nothing cancel? It's a hug, Michael. I'm hugging
  you. Michael!
</p>

<ol>
  <li>As you may or may not know, Lindsay and I have hit a bit of a rough patch.</li>
  <li>No! I was ashamed to be SEEN with you. I like being with you.</li>
  <li>It's called 'taking advantage.' It's what gets you ahead in life.</li>
</ol>

<h3>That's why you always leave a note!</h3>
<p>No! I was ashamed to be SEEN with you. I like being with you. That's what it said on 'Ask Jeeves.' That's why you
  always leave a note! No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions
  because I am an honest man with no secrets to hide.
</p>

<ul>
  <li>There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a
    television actor.
  </li>
  <li>What's Spanish for "I know you speak English?"</li>
  <li>That's what it said on 'Ask Jeeves.'</li>
</ul>

<h4>That's why you always leave a note!</h4>
<p>Guy's a pro. I'm a monster. No… but I'd like to be asked! Army had half a day. Whoa, this guy's straight?</p>
<p>No… but I'd like to be asked! No… but I'd like to be asked! First place chick is hot, but has an attitude, doesn't
  date magicians. I've opened a door here that I regret. That's why you always leave a note!</p>
<p>Steve Holt! I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense. I'm
  half machine. I'm a monster. No! I was ashamed to be SEEN with you. I like being with you.</p>
<p>That's why you always leave a note! Across from where? Really? Did nothing cancel? I don't understand the question,
  and I won't respond to it. Steve Holt!</p>

<h5>I don't understand the question, and I won't respond to it.</h5>
<p>What's Spanish for "I know you speak English?" Marry me. What's Spanish for "I know you speak English?" Really? Did
  nothing cancel? Not tricks, Michael, illusions.</p>
<p>No… but I'd like to be asked! I'm a monster. Oh, you're gonna be in a coma, all right. Marry me. Well, what do you
  expect, mother?</p>
<p>Not tricks, Michael, illusions. I've opened a door here that I regret. We just call it a sausage. No, I did not kill
  Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no
  secrets to hide.</p>

<h6>I care deeply for nature</h6>
<p>There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm
  calling you is a television actor. Really? Did nothing cancel? I hear the jury's still out on science.</p>
<p>No! I was ashamed to be SEEN with you. I like being with you. There's so many poorly chosen words in that sentence.
  Get me a vodka rocks. And a piece of toast. No! I was ashamed to be SEEN with you. I like being with you.</p>
<p>I've opened a door here that I regret. Really? Did nothing cancel? I've opened a door here that I regret. I hear the
  jury's still out on science. Bad news. Andy Griffith turned us down. He didn't like his trailer.</p>
<p>It's a hug, Michael. I'm hugging you. Get me a vodka rocks. And a piece of toast. As you may or may not know, Lindsay
  and I have hit a bit of a rough patch. It's called 'taking advantage.' It's what gets you ahead in life.</p>
